{% extends "layout.html" %}

{% block content %}
<div class="box wide">
    <div class="legend">
        Reset Password
    </div>
    <form class="mt12" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}
            {{ form.password(size=30,autocomplete="off",placeolder="Enter New Password") }}
            {% if form.password.errors %}
                {% for error in [form.password.errors[0]] %}
                    <span style="display: block;" class="fc-red">{{ error }}</span>
                {% endfor %}
            {% else %}
                <br>
            {% endif %}

            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=30,autocomplete="off",placeolder="Confirm New Password") }}
            {% if form.confirm_password.errors %}
                {% for error in [form.confirm_password.errors[0]] %}
                    <span style="display: block;" class="fc-red">{{ error }}</span>
                {% endfor %}
            {% else %}
                <br>
            {% endif %}
        </p>
        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
    </form>
</div>

{% endblock %}