{% extends "layout.html" %}

{% block content %}
<div class="box wide">
    <div class="legend">
        Request Password Reset
    </div>
    <form class="mt12" action="{{ url_for('auth.reset_password_request') }}" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}
            {{ form.email(size=30,placeholder="Enter your email") }}
            {% if form.email.errors %}
                {% for error in [form.email.errors[0]] %}
                    <span style="display: block;" class="fc-red">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
    </form>
</div>
{% endblock %}