{% extends "layout.html" %}

{% block content %}
<div class="box wide">
    <h1>About</h1>
    
    
    <div class="story_text">
    <p>
    Naira Threads is a nigeria-focused community centered around link aggregation
    and discussion.
    It is also a place where anybody can talk about anything <b>anonymously</b>.
    </p>
    
    <h2 id="ranking">How Stories Are Ranked</h2>
    <p>
        All story ranking on this site comes from user activity.
        All users have equal votes, with no special priorities or penalties for specific users or domains.
        Moderators have no ability to raise or lower the rankings of stories or comments (besides voting like any user).
        Domains used for marketing analytics are banned and tracking parameters are removed from links.
    </p>
    
    <div id="flags">
        <p>
        Users can flag stories and comments when there's a serious problem that needs moderator attention.
        To guide usage and head off distracting meta conversations ("Why was this flagged!?", etc), flagging requires selecting from a preset list of reasons.
        </p>
    
        <p>
        For comments, these are:
        "Off-topic" for drifting into meta or topics that aren't related to the story;
        "Me-too" when a comment doesn't add new information, typically a single sentence of appreciation, agreement, or humor;
        "Troll" for derailing conversations into classic arguments, well-intentioned or not;
        "Unkind" when uncharitable, insulting, or dismissive;
        and
        "Spam" for promoting commercial services.
        </p>
    </div>
    
    <p>
        Less than 1% of stories or comments get flagged, and users are not automatically punished by flags.
        Users whose stories or comments are getting flagged significantly more often are strongly encouraged to talk to mods about what's not working.
        (Please don't use flagging to try to push down topics or people you don't like).
    </p>
    
    </div>
</div>

{% endblock %}