{% set vote,hide,fave = (None,None,None) %}
{% if current_user.is_authenticated %}
    {% set vote,hide,fave,flag = ghv(post.id,current_user.id,f=True) %}
{% endif %}
{% set indent = get_indent(post.path,parent.path if parent else None) if ind else 0 %}
{% set votes_len = len(post.votes) %}
{% set vote_state = 'un' if vote else 'up' %}

<li class="comments_subtree">
    <div class="comment {{ 'upvoted' if vote else '' }}" id="c{{ post.id }}" ind="{{ indent }}" indent="{{ indent }}">
        {% if ind %}
            <label n="{{post.id}}" onclick="return colex(event, this, {{ indent }})" data-action="c" for="comment_folder_{{post.id}}" class="comment_folder"></label>
        {% endif %}
        <div class="voters">
            {% if current_user.is_authenticated %}
                <a class="upvoter" data-pid="c{{ post.id }}" data-state="{{ vote_state }}" onclick="return vote(this, {{ post.id }})" href="{{url_for('post.vote',id=post.id,state=vote_state,goto=url_for('post.item',id=post.id))}}"></a>
            {% else %}
                <a class="upvoter" href="{{ url_for('auth.login', goto=url_for('post.item',id=post.id)) }}"></a>
            {% endif %}
            <div id="sc{{post.id}}" data-newscore="{{ votes_len-1 if vote else votes_len+1 }}" class="score">{{ votes_len }}</div>
        </div>
        <div class="comment_parent_tree_line score_shown"></div>

        <div class="details">
            <div class="byline">
                <a name="c{{ post.id }}"></a>
                <label n="{{post.id}}" onclick="return colex(event, this, {{ indent }})" data-action="c" for="comment_folder_{{ post.id }}" class="comment_folder  comment_folder_inline {{ '' if ind else 'force_inline' }} "></label>

                <a href="{{ url_for('author.profile',username=post.author.username,_external=True) }}" class="u-author h-card user_is_author">{{ post.author.username }}</a>

                <span title="{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}">{{ get_sec_diff_str(post.date) }}</span>
                |
                {% if post.author != current_user %}
                    <a onclick="return req(this, {{ post.id }})" href="{{url_for('post.flag',id=post.id,goto=url_for('post.item',id=post.id))}}" data-rival="{% if flag %}flag{%else%}unflag{% endif %}">
                        {% if flag %}unflag{%else%}flag{% endif %}
                    </a> |
                {% endif %}
                <a onclick="return req(this, {{ post.id }})" href="{{url_for('post.fave',id=post.id,goto=url_for('post.item',id=post.id))}}"  data-rival="{% if fave %}favourite{%else%}unfavourite{% endif %}" rel="ugc" target="_blank">
                    {% if fave %}unfavourite{%else%}favourite{% endif %}
                </a> |
                {% if not ind %}
                    <a href="{{url_for('post.item',id=post.parent_id)}}">
                        parent
                    </a>
                    | <a href="{{url_for('post.item',id=post.main_parent_id)}}">
                        source
                    </a> |
                {% endif %}
                <a href="{{url_for('post.item',id=post.id,_external=True)}}">link</a>
                {% if current_user.is_authenticated %}
                    {% if (post.author == current_user and post.can_delete()) or current_user.is_admin() %}
                        | <a onclick="return req(this, {{ post.id }})"  href="{{url_for('post.delete',id=post.id,goto=url_for('post.item',id=post.id))}}" data-rival="{% if post.is_deleted() %}delete{%else%}undelete{% endif %}">
                            {% if post.is_deleted() %} 
                                undelete
                            {% else %}
                                delete
                            {% endif %}
                        </a> 
                    {% endif %}
                {% endif %}
            </div>
            <div class="comment_text">
                {% if not post.is_deleted() %}
                    {{ post.get_text_as_html() | safe }}
                {% elif post.is_flagged() %}
                    <p>
                        <span class="na">
                            [Comment was flagged to death]
                        </span>
                    </p>
                {% else %}
                    <p>
                        <span class="na">
                            [Comment removed by author]
                        </span>
                    </p>
                {% endif %}
            </div>
            <div>
                {% if not noreply and post.deleted == 0 %}
                    <a href="javascript:toggle('r{{post.id}}');" style="font-size: 14px;">reply</a>
                {% endif %}
            </div>
            <div>
                {% if not noreply and post.deleted == 0 %}
                    {% if current_user.is_authenticated %}
                        <form id="r{{post.id}}" style="display:none;" method="POST" action="{{url_for('post.reply')}}" onsubmit="return submitReply(this,{{post.id}});">
                            <br>
                            <input type="hidden" name="parent" value="{{ post.id }}">
                            <input type="hidden" name="goto" value="{{ url_for('post.item',id=post.main_parent_id) }}">
                            <input type="hidden" name="tok" value="{{ custom_encode(str(current_user.username)+':'+str(current_user.id)+':'+str(post.id)) }}">
                            <textarea placeholder="Add you comment here..." name="text" rows="6" cols="60">{{""}}</textarea>
                            <br><br><input type="submit" value="add comment">
                        </form>
                    {% else %}
                        <form id="r{{post.id}}" style="display:none;" method="POST" action="{{url_for('post.reply')}}" onsubmit="return submitReply(this,{{post.id}});">
                            <br>
                            <input type="hidden" name="parent" value="{{ post.id }}">
                            <input type="hidden" name="goto" value="{{ url_for('post.item',id=post.main_parent_id) }}">
                            <input type="hidden" name="tok" value="{{ custom_encode(str('anonymous')+':'+str(1)+':'+str(post.id)) }}">
                            <textarea placeholder="Add you comment here ANONYMOUSLY..." name="text" rows="6" cols="60">{{""}}</textarea>
                            <br><br><input type="submit" value="add comment">
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</li>
