{% extends "layout.html" %}

{% block content %}
<tr>
    <td>
        <table border="0">
            <tbody>
                <tr class="athing">
                    <td valign="top" class="fw-bold">user:</td>
                    <td>
                        <a href="{{ url_for('author.profile',username=current_user.username) }}" class="nguser">{{ current_user.username }}</a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="fw-bold">created:</td>
                    <td>
                        <span>{{ get_sec_diff_str(current_user.timestamp) }}</span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="fw-bold">karma:</td>
                    <td>
                        {{ current_user.karma }}
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="fw-bold">about:</td>
                    <td style="max-width: 400px;">
                        {{current_user.bio if current_user.bio else ''}}
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="fw-bold">email:</td>
                    <td>
                        <span class="text-medium">{{ current_user.email if current_user.email else "No email (Add an email just incase you forget your password)" }}</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{url_for('auth.changepw')}}"><u>change password</u></a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="{{url_for('author.submitted',id=user.username)}}"><u>submissions</u></a> &nbsp;/&nbsp;<a href="{{url_for('author.comments',id=user.username)}}"><u>comments</u></a>&nbsp;<span><i>(shared)</i></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ url_for('author.upvoted',id=user.username) }}"><u>upvoted submissions</u></a>
                        &nbsp;<span style="font-style:italic">(private)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ url_for('author.favorites',id=user.username) }}"><u>favorite submissions</u></a> 
                        &nbsp;<span style="font-style:italic">(shared)</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><a class="btn" href="{{url_for('author.edit_profile')}}">Edit Profile</a>
        <br><br>
    </td>
</tr>
{% endblock %}