{% extends "layout.html" %}

{% block content %}
<div class="box wide">
    <h1>Guidelines</h1>
    
    
    <div class="story_text">
        <h4>In Submissions</h4>
        <p>
            <b>–</b> You will not post, discuss, request, or link to anything that violates local or Lagos States law.
        </p>
        <p>
            <b>–</b> Please submit the original source. If a post reports on 
            something found on another site, submit the latter.
        </p>
        <p>
            <b>–</b> Please don't delete and repost. Deletion is for things 
            that shouldn't have been submitted in the first place. 
        </p>
        <p>
            <b>–</b> Don't solicit upvotes, comments, or submissions. Users should 
            vote and comment when they run across something they 
            personally find interesting—not for promotion. 
        </p>
        <p>
            <b>–</b> If you submit a video or pdf or image, please warn us by appending [video] or [pdf] or [image] to the title. 
        </p>

        <h4>In Comments</h4>
        <p><b>–</b> Comments should get more thoughtful and substantive, not less, as a topic gets more divisive.</p>
        <p><b>–</b> Please don't use uppercase for emphasis. If you want to emphasize a word or phrase, put *asterisks* around it and it will get italicized.</p>

        <h4>In General</h4>
        <p>
            <b>–</b> The quality of posts is extremely important to this community. 
            Contributors are encouraged to provide high-quality and informative comments. 
            Please refrain from posting the following: 
            <ul>
                <li>
                    Irrelevant catchphrases or copypasta
                    <br>
                    <span>Example:<code> "What the fuck did you just fucking say about me, abi this one dey mad ni?..."</code> </span>
                </li>
                <li>
                    Indecipherable text
                    <br>
                    <span>Example:<code> "lol u tk him 2da bar|?"</code> </span>
                </li>
                <li>
                    Ironic shitposting
                    <br>
                    <span>Example:<code> "upboads for le funy maymay unbaaaaaaaaaaalievable~~!"</code> </span>
                </li>
                <li>
                    Gibberish text
                    <br>
                    <span>Example:<code> "hsvjsvisieihsbiohedbewok;f'sa;e"</code> </span>
                </li>
            </ul>
        </p>
        <p>
            <b>–</b> Submitting false or misclassified reports, or otherwise abusing the 
            reporting system may result in a ban. Replying to a thread stating 
            that you've reported or "saged" it, or another post, is also not allowed.
        </p>
        <p>
            <b>–</b> Please don't comment about the voting on comments. 
            It never does any good, and it makes boring reading. 
        </p>
        <p>
            <b>–</b> No spamming or flooding of any kind. No intentionally evading spam or post filters.
        </p>
        <p>
            <b>–</b> Advertising (all forms) is not welcome—this includes any type of referral 
            linking, "offers", soliciting, begging, stream threads, etc.
        </p>
        <p>
            <b>–</b> The use of scrapers, bots, or other automated posting or downloading 
            scripts is prohibited. Users may also not post from proxies, VPNs, or Tor exit nodes.
        </p>
    </div>
</div>

{% endblock %}